:root{
       --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}
.contenedor_1{
    
    align-items:center;
    justify-content: center;
    background-color: #93B5C9;
    width: 1250px;
    height: 100px;

}

.caja1{ 

    
    background-color: #AB2849;
    width: 1250px;
    height: 250px;
    position: center;
    top: 10px;
}
.caja2{ 

    margin: 0.5cm;
    background-color: #AB2849;
    width: 1230px;
    height: 100px;
    position:  15px right;
    top: 11%;
}
.caja3{ 

    margin: 0.5cm;
    background-color: #AB2849;
    width: 1230px;
    height: 100px;
    position:  15px right;
    top: 11%;
}
.caja4{ 

    margin: 0.5cm;
    background-color: #AB2849;
    width: 1230px;
    height: 100px;
    position:  15px right;
    top: 11%;
}
.caja5{ 

   
    background-color: #AB2849;
    width: 1230px;
    height: 100px;
    position:  15px right;
    top: 11%;
}